.btn-up {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: black;
    /* расстояние от правого края окна браузера */
    right: 20px;
    /* расстояние от нижнего края окна браузера */
    bottom: 0;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E") no-repeat center center;
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #512da8; /* цвет заднего фона при наведении */
    }
}
@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #512da8; /* цвет заднего фона при наведении */
    }
}
.blur-elem{
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        filter: blur(60px)
    }

    to {
        filter: blur(0px)
    }
}

.hover{
    cursor: pointer;
}
.hover-white:hover{
    transition-duration: 0.1s;
    background: rgb(93, 93, 93);
}
.grow {
    transition-duration: 0.2s;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.desc {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: Calibri;
}
@media only screen and (min-width: 768px) {
    .desc{
        width: 100%;
        margin: auto;
    }
}
@media only screen and (min-width: 992px) {
    .desc{
        width: 75%;
        margin: auto;
    }
}